*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
}

.container {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-columns: 1fr 1fr;

  font-size: 1.5rem;
  font-weight: 400;
  margin: 10rem auto;
  border-radius: 1.5rem;
  overflow: hidden;
  //////TEMP
  width: 75%;
}

.img-box {
  background-image: linear-gradient(
      rgba(170, 92, 219, 0.5),
      rgba(170, 92, 219, 0.5)
    ),
    url(../images/image-header-desktop.jpg);

  // background-image: linear-gradient(
  //     rgba(27, 25, 56, 0.8),
  //     rgba(27, 25, 56, 0.8)
  //   ),
  //   url(../images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
}
///////////////////////////////////////////////////////////////////////////////TEXT-BOX
.text-box {
  background-color: hsl(244, 38%, 16%);
  padding: 8rem;

  display: grid;
}
////////////////////////////////////////////////////////////////////////////// TYPOGRAPHY
.heading-1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  span {
    color: hsl(277, 64%, 61%);
  }
}

.paragraph {
  width: 90%;
  margin-bottom: 3rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}

.stats {
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.stat {
  grid-row: 2 / 3;

  &__num {
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: 700;
  }

  &__text {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
